
.vs/SDA100/v16/.suo
obj/Debug/SDA100.csproj.AssemblyReference.cache
*.cache
.vs/SDA100/v16/.suo
bin/Debug/SDA100.pdb
bin/Debug/SDA100.exe
obj/Debug/SDA100.csproj.AssemblyReference.cache
obj/Debug/SDA100.csproj.AssemblyReference.cache
obj/Debug/SDA100.csproj.GenerateResource.cache
obj/Debug/SDA100.exe
obj/Debug/SDA100.pdb
.vs/SDA100_notbroken/v16/.suo
bin/Debug/SDA100.exe
bin/Debug/SDA100.pdb
.vs/SDA100_notbroken/v16/.suo
